.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  color: white;
}

.navtext {
  font-size: 20px;
  margin-right: 30px;
  color: white;

}

.noline {
  border: none;
  font-size: 20px;
  color: white;
}

.signinblock {
  margin-right: 60px;
  width: 700px;
}

.loginbutton {
  border: none;
  width: 120px;
}

.navtext:hover {
  color: rgb(63, 126, 236);
}

.navtext:active {
  transform: translateY(5px);
}