.myparks-page {
  min-height: 100vh;
  background: url("https://www.tourhero.com/en/magazine/wp-content/uploads/2021/06/arches-national-park-2-1536x1024.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.myparks-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.nationalp {
  padding-bottom: 40px;
  font-size: 80px;
}

.myparks {
  position: relative;
  z-index: 1;
}

hr {
  border: none;
  height: 3px;
  color: white;
  background-color: white;
}

.mylistname {
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
  text-decoration: underline;
}

#map-container {
  position: relative;
  right: 100px;
}

.list {
  margin-left: 20px;
  font-size: 18px;
}

.mymaps {
  margin-left: 140px;
  width: 500px;
  height: 700px;
  background-color: rgba(200, 200, 200, 0.703);
}

.image {
  margin-right: 20px;
}

.list-info {
  font-size: 14px;
  margin-left: 50px;
  padding-top: 5px;
}

.button3 {
  margin-left: 80px;
  width: 100px;
  border-radius: 10px;
}

.remove {
  font-size: 10px;
}

.descriptionInfo {
  font-size: 12px;
}