.parksindex-page {
  min-height: 100%;
  background: url("https://www.travelcaffeine.com/wp-content/uploads/2014/10/FM79978-copy.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.parksindex-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.parksindex {
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0px 40px;
}

.nationalp {
  text-align: center;
  padding-top: 40px;
  font-size: 80px;
}

.searchbars {
  margin: 20px 330px;
}

.searchfield {
  width: 280px;
  height: 35px;
  border: solid 2px black;
}

.park-name {
  font-size: 30px;
}

.parksummary {
  margin: 40px 0px;
}

.parkinfo-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px;
}

div h2 {
  margin: 5px 40px;
  text-decoration: underline;
}

.campsites {
  margin: 0px 60px;
  color: white;
}

.campsites h6 {
  text-decoration: underline;
  font-size: 16px;
}

.ratinginfo {
  color: white;
}

div h5 {
  text-decoration: underline;
  font-size: 16px;
}

.parkinfo {
  margin-right: 60px;
  color: white;
}

.button2 {
  font-size: 16px;
  width: 200px;
  background-color: white;
  margin: 5px 40px;
  border-radius: 8px;
}

.descriptionInfo {
  font-size: 14px;
}