.signup-page {
  min-height: 100vh;
  background: url("https://cdn.backpacker.com/wp-content/uploads/2021/02/drift-creek-falls-hiking-trail-2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.signup-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.signup {
  margin: 0px 40px;
  text-align: center;
  padding-top: 40px;
  position: relative;
  z-index: 1;
}

.signup h1 {
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 6px;
  letter-spacing: 0px;
}

.form {
  font-size: 20px;
  color: white;
}

.form-text {
  width: 300px;
  text-align: start;
  margin: auto;
}

.form-text div {
  padding: 4px 0px;
}

.form-info {
  margin: 0px -40px;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.708);
}

.bar {
  width: 300px;
  padding-top: 5px;
}

.button {
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}